.custom-alert {
    position: fixed;
    bottom: 20px; /* Adjust the bottom position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
}

.custom-alert p {
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}